.flags {

}

.flagInsecure {
  padding: 0 3px 0 3px;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 10px;
  margin-right: 5px;
  background-color: #BE1C1C;
}

.flagDeprecated {
  padding: 0 3px 0 3px;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 10px;
  margin-right: 5px;
  background-color: #BE1C1C;
}

.flagUnstable {
  padding: 0 3px 0 3px;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 10px;
  margin-right: 5px;
  background-color: #616161;
}

.big .flagInsecure {
  font-size: 12px;
  padding: 0 5px 0 5px;
  font-weight: normal;
}

.big .flagDeprecated {
  font-size: 12px;
  padding: 0 5px 0 5px;
  font-weight: normal;
}

.big .flagUnstable {
  font-size: 12px;
  padding: 0 5px 0 5px;
  font-weight: normal;
}