.main {
}

.cardFooter {
  border-top: 1px solid #dbdbdb;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardFooterItem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem;
}

.cardFooterItem:not(:last-child) {
  border-right: 1px solid #dbdbdb;
}

.card {
  background-color: white;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border-radius: 3px;
}

.cardHeader {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
          box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cardHeaderTitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #363636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem;
}

.cardContent {
  padding: 1.5rem;
}

.version {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #616161;
}

.author {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}

.headline {
  display: inline-flex;
  width: 100%;
}

.headline .left, .headline .right {
  flex: 1;
}

.headline .right {
  text-align: right;
  max-width: 30%;
}

.markdown p {
  margin: 0 0 10px 0;
  padding: 0;
}